
headsup/.env
/headsup/data
headsup/screener_details.pdf
daily_update/config.py
/factors/data_dump
factors/.DS_Store
factors/.DS_Store
factors/.DS_Store
/factors/.idea
port_con/risk_model_example.xlsx
regression/scratch.py
daily_update/__pycache__/config.cpython-311.pyc
.idea/inspectionProfiles/Project_Default.xml
port_con/example_data.xlsx
*.parquet
